@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --first-color: #414548;
  --first-color2: #212528;
  --first-color3: #2A2E31;
  --second-color: #4938CA;
  --second-alpha-color: rgba(73, 56, 202, 0.75);
  --text-color: #EEFBFB;

  --third-soft-color1: #474C54;
  --third-soft-color2: #353B42;
  --white-color: #FFFFFF;
  --green: #27B67D;
  --green-hover: rgba(39, 182, 125, 0.35);
  --green2: #319F43;
  
  --black-alpha-color: rgba(0, 0, 0, 0.7);
  --red: #F5615D;
  --red-hover: rgba(245, 97, 93, 0.35);
  --red2: #E33629;
  --blue: #587DBD;
  --yellow: #F8BD00;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #3d3434;
  }
}

body {
  /* background: var(--background); */
  background: var(--rede);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input-label {
  font-size: .9rem;
  padding-left: 6px;
  height: .9rem;
}